---
import instagram from "../assets/instagram.jpeg";
---

<div id="medias" class="flex justify-center items-center bg-green-700 mt-4 px-8 py-2">
  <h2 class="text-white font-bold text-center text-4xl tracking-tight">
    Conheça nosso canal no Youtube
  </h2>
</div>
<div class="grid sm:grid-cols-2">
  <div class="p-8 flex justify-center">
  <iframe height="180" src="https://www.youtube.com/embed/z2pKVZZXJd0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="flex justify-center">
  <div class="bg-black p-4 mt-4 w-96 rounded-2xl text-white">
    <p>
      Conheça um pouco da minha história e como nasceu o Brazucas em Portugal!
    </p>
    <p class="mt-4">
      Uma empresa com mais de 2 anos no mercado ajudando pessoas a realizarem o
      sonho de morar em um país com maior qualidade de vida!
    </p>
    <p class="mt-4">
      Pessoas de diversas profissões e histórias de vida diferentes com seu
      visto aprovado!
    </p>
  </div>
  </div>
</div>
<div class="flex justify-center items-center bg-green-700 mt-4 px-8 py-2">
  <h2 class="text-white font-bold text-center text-4xl tracking-tight">
    Conheça nosso perfil no Instagram 
  </h2>
</div>
<img src={instagram} alt="Perfil no instagram do Brazucas em Portugal"/>

