---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import brazucas from "@assets/brazucas.jpeg?url";
import bridge from "@assets/bridge.jpg?url";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? `${title} | Brazucas em Portugal`
  : "Brazucas em Portugal";
---

<!DOCTYPE html>
<html lang="en" class="bg-[#f6f6f6]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Acessoria especializada em vistos para Portugal"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          image: "https://github.com/mat3usps/brazucas-em-portugal/blob/main/src/assets/bridge.jpg",
          title: "Portugal nunca esteve tão acessível!",
          type: "website",
          url: canonicalURL,
        }
      }}
      twitter={{
          description: "Confira nossos serviços e seja mais um brasileiro a mudar de vida.",
          image: "https://github.com/mat3usps/brazucas-em-portugal/blob/main/src/assets/bridge.jpg",
          title: "Portugal nunca esteve tão acessível",
        }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
